@import "~bootstrap/scss/bootstrap";

.beta {
    color: $yellow-300;
    background-color: $cyan-700;
  }
.bagd1{
  background-color: $purple-200;
;
}
.bagd2{
  background-color: $blue-500

;
}
.bagd3{
  background-color: $pink-400

;
}
.bagd4{
  background-color:$blue-400

;
}
.bagd5{
  background-color: $cyan-500
;
}

